# Java class files
*.class

# Java keystore
keystore.jks

# Eclipse project files
.classpath
.project
.settings/

# Intellij project files
*.iml
*.ipr
*.iws
.idea/

/target

.DS_Store

# Cataline log files
catalina.*

# Files I want to save but don't want in source control
*.save
